*.iml
.idea/misc.xml
.gradle
/local.properties
.DS_Store
/build
/gradle
/gradlew
/gradlew.bat
projectFilesBackup/
/captures
.externalNativeBuild
.idea/gradle.xml
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
.idea/caches
.idea/libraries
