<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.adv.videoplayer">
    <!--android:sharedUserId="android.uid.system"
    android:process="system"-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--android:name="com.adv.videoplayer.application"-->

    <application
        android:allowBackup="true"

        android:icon="@drawable/videoplayer"
        android:roundIcon="@drawable/videoplayer"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FullWindowPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".TinyWindowPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Playable in small window mode"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".RecyclerViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="In RecylerView video list"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ChangeClarityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Can switch sharpness when playing in full screen"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".UseInFragActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Use in fragment"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ProcessHome1Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Used in Activity to handle pressing the home button during playback"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ProcessHome2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Used in Fragment to handle pressing the home button during playback"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>